@{
    ViewBag.Title = "Welcome To Shoppingo.com";

    var productid = Convert.ToInt32(ViewData["productid"]);

}

<h2>Welcome To Shoppingo!</h2>

<div class="jumbotron">
    Shoppingo has the latest and the best deals on the internet!
    Our suppliers are verified and their products are best in class.
    You get to choose from a variety of products.
    Enjoy your visit to Shoppingo
</div>

@if (productid != 0)
{
    <h3>Product Chosed was product number @productid</h3>
}
else
{
    <h3>No Product was chosen!</h3>
}